# Ignore node_modules directories
**/node_modules

# Ignore dist directories
**/dist

# Ignore environment files
.env

# Ignore Dockerfile
Dockerfile
**/Dockerfile

# Ignore git files
.git
.gitignore

# Ignore IDE configuration files
.idea
.vscode

# Ignore logs
*.log

# Ignore other common files and directories
.DS_Store
*.swp
